html, body {
    min-height: 100vh;
    height: 100%;
}

html {
    background-color: #201f1f;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

body {
    margin: 0 8px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    background-color: whitesmoke;
    border-radius: 5px;
    flex: 1;
    overflow-y: scroll;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.main .content {
    padding: 16px;
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
    box-sizing: border-box;
}

.main .content p {
    margin: 16px 0;
}

.main::-webkit-scrollbar {
    width: 8px;
    border-radius: 6px;
}

/* Track */
.main::-webkit-scrollbar-track {
    background: #e9e9e9;
    border-radius: 6px;
    margin: 4px;
}

/* Handle */
.main::-webkit-scrollbar-thumb {
    background: #727476;
    border-radius: 6px;
}

/* Handle on hover */
.main::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.logo {
    flex: 0 0 50px;
    height: 50px;
    width: 50px;
    border: 1px solid white;
}

.nav-bar {
    display: flex;
    padding: 8px 0;
}

.nav-bar .nav-links {
    flex: 1;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    align-self: center;
}

.nav-links a {
    color: white;
}

.footer {
    flex: 0 0 50px;
}

.typography-med {
    font-size: 15px;
}

.typography-large {
    font-size: 35px;
}

.sub-text {
    color: #201f1f;
    text-align: justify;
    font-weight: 300;
}

.divider {
    display: block;
    border-top: 2px solid;
    width: 125px;
}

.testing {
    font-size: 90px;
    word-wrap: break-word;
}
